<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  <th:block th:insert="~{fragments :: head}" />
  <body>
    <th:block th:insert="~{fragments :: navigation}" />

    <header>
      <div class="container">
        <h1>Add Question</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <form method="post" class="row g-3" id="testForm">
          <div id="questionContainer">
            <div class="question">
              <div class="border border-secondary rounded p-3">
                <input
                  type="hidden"
                  id="questionId"
                  name="questionId"
                  value="1"
                  required
                />
                <div class="row mb-3">
                  <label for="questionType" class="col-sm-2 col-form-label"
                    >Type</label
                  >
                  <div class="col-sm-10">
                    <select
                      id="questionType"
                      name="questionType"
                      class="form-select"
                      required
                    >
                      <option selected value="">Choose...</option>
                      <option value="Text">Text</option>
                      <option value="Multiple Choice">Multiple Choice</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="questionTitle" class="col-sm-2 col-form-label"
                    >Title</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="questionTitle"
                      name="questionTitle"
                      placeholder="Question Title"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label
                    for="questionDescription"
                    class="col-sm-2 col-form-label"
                    >Description</label
                  >
                  <div class="col-sm-10">
                    <textarea
                      class="form-control"
                      id="questionDescription"
                      name="questionDescription"
                      placeholder="Question Description"
                      required
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </main>

    <th:block th:insert="~{fragments :: footer}" />

    <th:block th:insert="~{fragments :: bootstrap-script}" />
  </body>
</html>
