<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  <th:block th:insert="~{fragments :: head}" />
  <body>
    <th:block th:insert="~{fragments :: navigation}" />

    <header>
      <div class="container">
        <h1>Create Test</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="border border-secondary rounded">
          <form method="post" class="row g-3 p-3">
            <input type="hidden" id="questionId" name="questionId" value="1" required/>
            <div class="col-md-4">
              <!-- TODO: or bootstrap radio button? -->
              <label for="questionType" class="form-label">Type</label>
              <select id="questionType" name="questionType" class="form-select" required>
                <option selected value="">Choose...</option>
                <option value="Text">Text</option>
                <option value="Multiple Choice">Multiple Choice</option>
              </select>
            </div>
            <div class="col-12">
              <label for="questionTitle" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="questionTitle"
                name="questionTitle"
                required
              />
            </div>
            <div class="col-12">
              <label for="questionDescription" class="form-label"
                >Description</label
              >
              <input
                type="text"
                class="form-control"
                id="questionDescription"
                name="questionDescription"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <hr />
        <div>
          <div class="text-center">
            <a href="https://www.google.com" class="btn btn-outline-primary"
              >Add new question</a
            >
          </div>
        </div>
      </div>
    </main>

    <th:block th:insert="~{fragments :: footer}" />

    <th:block th:insert="~{fragments :: bootstrap-script}" />
  </body>
</html>
