<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  <th:block th:insert="~{fragments :: head}" />
  <body>
    <th:block th:insert="~{fragments :: navigation}" />

    <header>
      <div class="container">
        <h1>Create Test</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <form method="post" class="row g-3" id="testForm">
          <div id="questionContainer">
            <div class="question">
              <div class="border border-secondary rounded p-3">
                <input
                  type="hidden"
                  id="questionId1"
                  name="questionId"
                  value="1"
                  required
                />
                <div class="row mb-3">
                  <label for="questionType1" class="col-sm-2 col-form-label"
                    >Type</label
                  >
                  <div class="col-sm-10">
                    <select
                      id="questionType1"
                      name="questionType"
                      class="form-select"
                      required
                    >
                      <option selected value="">Choose...</option>
                      <option value="Text">Text</option>
                      <option value="Multiple Choice">Multiple Choice</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="questionTitle1" class="col-sm-2 col-form-label"
                    >Title</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="questionTitle1"
                      name="questionTitle"
                      placeholder="Question Title"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label
                    for="questionDescription1"
                    class="col-sm-2 col-form-label"
                    >Description</label
                  >
                  <div class="col-sm-10">
                    <textarea
                      class="form-control"
                      id="questionDescription1"
                      name="questionDescription"
                      placeholder="Question Description"
                      required
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-outline-primary"
            id="addQuestionButton"
          >
            Add new question
          </button>
          <hr />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </main>

    <th:block th:insert="~{fragments :: footer}" />

    <th:block th:insert="~{fragments :: bootstrap-script}" />
    <script>
      let questionId = 2;

      document
        .getElementById("addQuestionButton")
        .addEventListener("click", function () {
          const questionContainer =
            document.getElementById("questionContainer");
          const newQuestion = document.createElement("div");
          newQuestion.classList.add("question");
          newQuestion.innerHTML = `
          <div class="border border-secondary rounded p-3">
                <input
                  type="hidden"
                  id="questionId${questionId}"
                  name="questionId"
                  value="${questionId}"
                  required
                />
                <div class="row mb-3">
                  <label for="questionType${questionId}" class="col-sm-2 col-form-label">Type</label>
                  <div class="col-sm-10">
                    <select
                        id="questionType${questionId}"
                        name="questionType"
                        class="form-select"
                        required
                    >
                      <option selected value="">Choose...</option>
                      <option value="Text">Text</option>
                      <option value="Multiple Choice">Multiple Choice</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="questionTitle${questionId}" class="col-sm-2 col-form-label"
                    >Title</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="questionTitle${questionId}"
                      name="questionTitle"
                      placeholder="Question Title"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label
                    for="questionDescription${questionId}"
                    class="col-sm-2 col-form-label"
                    >Description</label
                  >
                  <div class="col-sm-10">
                    <textarea
                      class="form-control"
                      id="questionDescription${questionId}"
                      name="questionDescription"
                      placeholder="Question Description"
                      required
                    ></textarea>
                  </div>
                </div>
              </div>
          `;
          questionContainer.appendChild(newQuestion);
          questionId++;
        });
    </script>
  </body>
</html>
