<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  <th:block th:insert="~{fragments :: head}" />
  <body>
    <th:block th:insert="~{fragments :: navigation}" />

    <header>
      <div class="container">
        <h1 th:text="${title}">Sample header</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="d-grid gap-2 mx-auto">
            <a class="btn btn-outline-primary" href="https://www.google.com" role="button">Test 1</a>
          </div>
        </div>
      </div>
    </main>

    <th:block th:insert="~{fragments :: footer}" />

    <th:block th:insert="~{fragments :: bootstrap-script}" />
  </body>
</html>
