<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  data-bs-theme="dark"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
  <th:block th:insert="~{fragments :: head}" />
  <body>
    <th:block th:insert="~{fragments :: navigation}" />

    <header>
      <div class="container">
        <h1 th:text="${title}">Sample header</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div
            class="d-grid gap-2 mx-auto col-lg-6 content-box"
            th:each="test : ${tests}"
          >
            <a
              class="btn btn-outline-primary"
              role="button"
              th:href="@{'/test/' + ${test.id}}"
            >
              <h3 th:text="${test.testTitle}">Test title placeholder</h3>
              <p th:text="${test.testDescription}">
                Test description placeholder
              </p>
            </a>
          </div>
        </div>

        <div sec:authorize="hasRole('ROLE_ORGANIZER')">
          <hr />
          <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto content-box">
              <a href="/admin/create-test" class="btn btn-success">Add Test</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <th:block th:insert="~{fragments :: footer}" />

    <th:block th:insert="~{fragments :: bootstrap-script}" />
  </body>
</html>
