<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  <th:block th:insert="~{fragments :: head}" />
  <body>
    <th:block th:insert="~{fragments :: navigation}" />

    <header>
      <div class="container">
        <h1 th:text="${test.testTitle}">Sample Test</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <h2 th:text="${test.testDescription}">
            This is a sample description for a Test
          </h2>
        </div>
        <div class="row" th:each="question,iter : ${questions}">
          <div class="d-grid gap-2 mx-auto">
            <a
              class="btn btn-outline-primary"
              role="button"
              th:text="${question.getQuestionTitle()}"
              th:href="@{'/test/' + ${testNumber} + '/question/' + ${iter.index}}"
              >Test title Placeholder</a
            >
          </div>
        </div>
      </div>
    </main>

    <th:block th:insert="~{fragments :: footer}" />

    <th:block th:insert="~{fragments :: bootstrap-script}" />
  </body>
</html>
